.Todo {
  display: flex;
  background-color: #440381;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 10px 5px #dcb6ff;
  text-align: left;
  color: white;
  font-family: monospace;
}

.Todo .description {
  color: #FFD6C0;
}

.Todo > .img {
  height: 3rem;
  width: 3rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
